# Dados de Balanço

In [1]:
#Importando pacotes
import pandas as pd
import numpy as np
from urllib.request import urlopen
import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from scipy.stats import mstats
warnings.filterwarnings("ignore")

In [2]:
#Descriminando URL de download
url = "https://api.data.economatica.com/1/oficial/datafeed/download/1/jWwTilJsFtD4LJ0w1g1d5xbiPrYnjk9MQPiRgIi2BfgYN1ONlgsvVUiUw4%2Bw%2BsITO%2FZibq8HFs1MtLjtfDDKjK%2BiPuGzR8XVIuyMhLZRR7sFzNaWakeqweMsxw1mucx9ltNgNEth1j5zHvJ9G4ye%2BuUSKui8hDQxkg%2BuILfP0BboMBODxtaUTOVtZ37hiSUpkug%2BWz46iJgzsO6UmIYWU%2Fv%2FwzJyUv3SeRKt%2B4d0yW00ZMtdTp9ec9YHSpJ3mnmatN9QsgwIQeW4gF7dBWSPzM4xh1uupGHH2xJAgjBAuHjL8vgI4i%2BTdWAsc0ITm7TgYweFzJ9oouI3efzKBacs8w%3D%3D"

In [3]:
#time
#Abrindo a base
data = pd.read_csv(urlopen(url),encoding='latin-1')
#Retirando sufixo
data['Ativo']=data['Ativo'].str.rstrip('<XBSP>')
#Declarando coluna data como datatime
#data['Data'] = pd.to_datetime(data['Data'])
#Renomeando colunas
listacolunas=['ativo','data',"atvtot","atvcir","cx","cxeq","aplfin","ctareccp","estq","imprec","despgant","atvncirc",\
                 "reallp","ctareclp","estqlp","impdif","desant","invest","imob","intliq","goodwill","paspl","pascir",\
                 "obrsoc","obtrcp","fornec","imppag","obrcp","fincp","finlp","dbntlp","impdiflp","provlp","patrliq",\
                 "rect12m","rect3m","rectex","cpv12m","cpv3m","cpvex","lucrbr12m","lucrbr3m","lucrbrex","despope12m",\
                 "despope3m","despopeex","despven12m","despven3m","despvenex","despadm12m","despadm3m","despadmex","ebit12m",\
                 "ebit3m","ebitex","resfin12m","resfin3m","resfinex","recfin12m","recfin3m","recfinex","despfin12m",\
                 "despfin3m","despfinex","lair12m","lair3m","lairex","ircs12m","ircs3m","ircsex","lucrliq12m","lucrliq3m",\
                 "lucrliqex","cxgerop12m","cxgerop3m","cxgeropex","cxinv12m","cxinv3m","cxinvex","cxfinan12m","cxfinan3m",\
                 "cxfinanex","valicx12m","valicx3m","valicxex"]
data.columns = listacolunas

In [4]:
#Confirmando o número de empresas
unique=data['ativo'].unique()
len(unique)

311

In [5]:
data

,ativo,data,atvtot,atvcir,cx,cxeq,aplfin,ctareccp,estq,imprec,...,cxgeropex,cxinv12m,cxinv3m,cxinvex,cxfinan12m,cxfinan3m,cxfinanex,valicx12m,valicx3m,valicxex
0,RRRP3,Nov-2001,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1,RRRP3,Dez-2001,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
2,RRRP3,Jan-2002,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,RRRP3,Fev-2002,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,RRRP3,Mar-2002,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63956,YDUQ3,Fev-2022,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
63957,YDUQ3,Mar-2022,10055453,2872443,-,625401,1082393,971330,0,0,...,583806,-1089839,-284166,-284166,-349048,-262823,-262823,-653074,-280060,-280060
63958,YDUQ3,Abr-2022,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
63959,YDUQ3,Mai-2022,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
63960,YDUQ3,Jun-2022,9881786,2740583,-,705390,762001,1034246,0,0,...,1085847,-820464,177467,-106699,-373098,-158325,-421148,-506917,79989,-200071

In [6]:
new = data["data"].str.split("-", n = 1, expand = True)
data["mes"]= new[0]
data["ano"]= new[1]
data["mes"]=data["mes"].replace({"Jan":1,"Fev":2,"Mar":3,"Abr":4,"Mai":5,"Jun":6,"Jul":7,"Ago":8,"Set":9,"Out":10,"Nov":11,"Dez":12})
data['date'] = pd.to_datetime(data['ano'].astype(str) + data['mes'].astype(str).str.zfill(2), format='%Y%m')
data['date'] =data['date'] + pd.offsets.MonthEnd()
listadata=pd.date_range(start=data['date'].min(), end=pd.Timestamp.today()  , freq=pd.offsets.MonthEnd(1))
data["data"]=data["date"]
data.drop(["date", "ano", "mes"], axis=1, inplace=True)
listadata

DatetimeIndex(['2001-11-30', '2001-12-31', '2002-01-31', '2002-02-28',
               '2002-03-31', '2002-04-30', '2002-05-31', '2002-06-30',
               '2002-07-31', '2002-08-31',
               ...
               '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28',
               '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30',
               '2022-07-31', '2022-08-31'],
              dtype='datetime64[ns]', length=250, freq='M')

In [7]:
#Declarando hifens como dados faltantes NAN
data[data == "-"] = np.nan
#Preenchendo valores ausentes (médoto para frente (ffill))
data = data.set_index('ativo', append=True)
data = data.groupby(level=1).ffill()
data = data.reset_index(level=1)

In [8]:
data=data.sort_values(['data', "ativo"], ascending=[True, True])
#data.head(5)

In [9]:
#Preparando dataframe de referência onde todos ativos terão todas as datas de fim de mês
index=pd.DataFrame({'data':listadata}) #usando a lista definida acima
indexx=pd.concat([index]*len(unique), ignore_index=True)
listaativo=np.repeat(unique,len(index))
indexx['ativo']=listaativo
#indexx

In [10]:
#Unindo a base de data/ativo completo com a base de dados (aparecerão Nan's nas datas sem valor)
balanco=pd.merge(indexx, data, how="left", on=["ativo", "data"])
#balanco.tail(5)

In [12]:
#Preenchendo valores ausentes (médoto para frente (ffill))
balanco = balanco.set_index('ativo', append=True)
balanco = balanco.groupby(level=1).ffill()
balanco = balanco.reset_index(level=1)

In [13]:
#Salvando em excel
#financeiro.to_excel('financeito.xlsx')

In [14]:
#Compatibilizando datas 
data=pd.read_excel('data.xlsx')
data_index=data.loc[:,['data','ativo']]
#data_index

In [15]:
len(data_index)==len(balanco)

True

In [16]:
list(data_index['ativo'])== list(balanco['ativo'])

True

In [19]:
balanco['data']=data_index['data']
#balanco

In [34]:
#MATRIZ IBRX
ibrx=pd.read_excel('ibrx.xlsx', sheet_name='Sheet1', index_col='Data')
#ibrx

In [21]:
#Verificando igualdade de número de ativos
len(list(ibrx.columns))==len(unique)

True

In [22]:
#Verificando igualdade de NÚMERO de datas (o "-1" tira o mês de novembro de 2001 que tem incluído nos links mas não no IBRX)
len(list(ibrx.index))==len(index)-1

False

In [35]:
#Preparando dataframe de referência do IBRX com data e ativos empilhados
empilhados=pd.Series(ibrx.values.ravel('F'))#Empilhando colunas do dataframe
indexibrx=pd.DataFrame({'data':list(ibrx.index)}) #Criando um índice
indexxibrx=pd.concat([indexibrx]*len(list(ibrx.columns)), ignore_index=True)
listaativo=np.repeat(list(ibrx.columns),len(indexibrx))
indexxibrx['ativo']=listaativo
indexxibrx['IBRX']=empilhados

In [36]:
#Unindo base de dados com IBRX
balanco1=pd.merge(indexxibrx, balanco, how="left", on=["ativo", "data"])
#balanco1

In [30]:
#balanco1.dtypes

In [38]:
#Formatando variáveis
balanco1['ativo'] = balanco1['ativo'].astype(str)
balanco1.iloc[:,3:] = balanco1.iloc[:,3:].astype(float)
#balanco1.dtypes

In [39]:
#Base de dados com participantes do IBRX 
#balanco2=balanco1[balanco1['IBRX']==1]
balanco2=balanco1
balanco2=balanco2.sort_values(['data', "ativo"], ascending=[True, True])
balanco2

,data,ativo,IBRX,atvtot,atvcir,cx,cxeq,aplfin,ctareccp,estq,...,cxgeropex,cxinv12m,cxinv3m,cxinvex,cxfinan12m,cxfinan3m,cxfinanex,valicx12m,valicx3m,valicxex
0,2001-12-28,ABEV3,1,11028812.0,4684944.0,NaN,NaN,NaN,NaN,806679.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,2001-12-28,ABYA3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
744,2001-12-28,ACES3,1,5852905.0,1041963.0,NaN,NaN,NaN,NaN,384294.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
992,2001-12-28,ACES4,1,5852905.0,1041963.0,NaN,NaN,NaN,NaN,384294.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1240,2001-12-28,ACGU3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72415,2022-07-29,VVAX11,0,526477.0,132215.0,NaN,NaN,NaN,NaN,3567.0,...,-10675.0,-62252.0,-13226.0,-37368.0,84588.0,-15619.0,-15619.0,93589.0,4047.0,12040.0
72663,2022-07-29,WEGE3,1,25882424.0,17566996.0,NaN,2570284.0,502166.0,5166658.0,7659131.0,...,2832704.0,-995554.0,-210794.0,-521817.0,-178271.0,-208126.0,385319.0,-705643.0,-179578.0,-144143.0
72911,2022-07-29,WEGE4,0,25882424.0,17566996.0,NaN,2570284.0,502166.0,5166658.0,7659131.0,...,2832704.0,-995554.0,-210794.0,-521817.0,-178271.0,-208126.0,385319.0,-705643.0,-179578.0,-144143.0
73159,2022-07-29,WIZS3,1,1950583.0,337287.0,NaN,29729.0,188276.0,83418.0,0.0,...,208922.0,-381080.0,-55828.0,-105592.0,120304.0,-7607.0,-18110.0,-7536.0,566.0,4217.0
73407,2022-07-29,YDUQ3,1,9881786.0,2740583.0,NaN,705390.0,762001.0,1034246.0,0.0,...,1085847.0,-820464.0,177467.0,-106699.0,-373098.0,-158325.0,-421148.0,-506917.0,79989.0,-200071.0

In [41]:
balanco2=balanco2[['ativo','data',"IBRX",\
                   "atvtot","atvcir","estq","atvncirc",\
                 "imob","paspl","pascir",\
                 "fornec","fincp","finlp","dbntlp","provlp","patrliq",\
                 "rect12m","cpv12m","lucrbr12m","despope12m",\
                 "despven12m","despadm12m","ebit12m",\
                 "resfin12m","recfin12m","despfin12m",\
                 "lair12m","ircs12m","lucrliq12m", ]]
#"cxgerop12m", \
# "cxinv12m","cxfinan12m","valicx12m"
balanco2

,ativo,data,IBRX,atvtot,atvcir,estq,atvncirc,imob,paspl,pascir,...,despope12m,despven12m,despadm12m,ebit12m,resfin12m,recfin12m,despfin12m,lair12m,ircs12m,lucrliq12m
0,ABEV3,2001-12-28,1,11028812.0,4684944.0,806679.0,6343868.0,3277535.0,11028812.0,3412003.0,...,1817477.0,1175581.0,641896.0,1496440.0,-503115.0,358376.0,861491.0,993325.0,51974.0,7.845680e+05
496,ABYA3,2001-12-28,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
744,ACES3,2001-12-28,1,5852905.0,1041963.0,384294.0,4810942.0,4069623.0,5852905.0,1699502.0,...,203778.0,97637.0,106141.0,-74787.0,-266994.0,96166.0,363160.0,-341781.0,-39198.0,-3.262990e+05
992,ACES4,2001-12-28,1,5852905.0,1041963.0,384294.0,4810942.0,4069623.0,5852905.0,1699502.0,...,203778.0,97637.0,106141.0,-74787.0,-266994.0,96166.0,363160.0,-341781.0,-39198.0,-3.262990e+05
1240,ACGU3,2001-12-28,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72415,VVAX11,2022-07-29,0,526477.0,132215.0,3567.0,394262.0,173370.0,526477.0,60405.0,...,154194.0,34136.0,120058.0,-41649.0,-78138.0,13668.0,91806.0,-119787.0,13359.0,-1.331460e+05
72663,WEGE3,2022-07-29,1,25882424.0,17566996.0,7659131.0,8315428.0,5758142.0,25882424.0,10410529.0,...,658287.0,1955503.0,821403.0,4219218.0,71073.0,947909.0,876836.0,4290291.0,684531.0,3.543845e+06
72911,WEGE4,2022-07-29,0,25882424.0,17566996.0,7659131.0,8315428.0,5758142.0,25882424.0,10410529.0,...,658287.0,1955503.0,821403.0,4219218.0,71073.0,947909.0,876836.0,4290291.0,684531.0,3.543845e+06
73159,WIZS3,2022-07-29,1,1950583.0,337287.0,0.0,1613296.0,14134.0,1950583.0,477373.0,...,NaN,0.0,147400.0,305311.0,-47818.0,20288.0,68106.0,257493.0,81304.0,1.258740e+05
73407,YDUQ3,2022-07-29,1,9881786.0,2740583.0,0.0,7141203.0,2674967.0,9881786.0,1672900.0,...,284261.0,927297.0,997677.0,539023.0,-586522.0,267336.0,853858.0,-47499.0,-58686.0,1.083600e+04

In [26]:
#balanco2.to_excel("balanco2.xlsx")

### Missing data

In [42]:
#Métricas para análise explanatória inicial
def estats(df):
    a=list(df.count()) #nonnullvalues
    
    b=list(df.isnull().sum() * 100 / len(df)) #percent_missing
   
    c = []#firstnonnullline
    for i in df.columns:
        y = df[i].first_valid_index()
        c.append(y) 
   
    d = [] #date_firstnonnullline
    for i in c:
        try:
            y = df.loc[i,'data']
            d.append(y)
        except Exception:
            y = np.nan
            d.append(y)

    e = [] #uniquevalues
    for i in df.columns:
        y = df[i].nunique()
        e.append(y)

    #f= list(map(lambda x,y: (x/y)*100, e,a)) #percentunique

    g = [] #zerocount
    for i in df.columns:
        y = (df[i] == "0").sum()
        g.append(y)
    
    h= list(map(lambda x,y: (x/y)*100, g,a)) #percentzero   
    
    #Selecionando algumas métricas mais relevantes
    estats=pd.DataFrame(data={'percent_missing': b, 'date_firstnonnullline': d, 'percentzero':h },index=df.columns)
    
    return estats.iloc[3:,:] #mostrando as métricas somente para as variáveis de fato

In [43]:
#Mostrando as métricas para toda base de dados
estats(balanco2)

            percent_missing date_firstnonnullline  percentzero
atvtot            17.329634            2001-12-28          0.0
atvcir            17.329634            2001-12-28          0.0
estq              22.600093            2001-12-28          0.0
atvncirc          22.989057            2001-12-28          0.0
imob              17.329634            2001-12-28          0.0
paspl             17.329634            2001-12-28          0.0
pascir            17.329634            2001-12-28          0.0
fornec            22.600093            2001-12-28          0.0
fincp             22.986464            2001-12-28          0.0
finlp             23.122601            2001-12-28          0.0
dbntlp            23.122601            2001-12-28          0.0
provlp            22.600093            2001-12-28          0.0
patrliq           17.329634            2001-12-28          0.0
rect12m           22.899595            2001-12-28          0.0
cpv12m            22.899595            2001-12-28          0.0
lucrbr12m         22.661031            2001-12-28          0.0
despope12m        27.039467            2001-12-28          0.0
despven12m        22.930713            2001-12-28          0.0
despadm12m        17.703039            2001-12-28          0.0
ebit12m           22.661031            2001-12-28          0.0
resfin12m         22.661031            2001-12-28          0.0
recfin12m         22.899595            2001-12-28          0.0
despfin12m        22.977388            2001-12-28          0.0
lair12m           17.671922            2001-12-28          0.0
ircs12m           22.572866            2001-12-28          0.0
lucrliq12m        17.671922            2001-12-28          0.0

In [44]:
#Olhando para um ticher em especial
#balanco2[balanco2['Ativo']=='ABEV3']

In [45]:
#Olhando para uma data em especial
#balanco2[balanco2['Data']=='2001-12-28']

In [46]:
#Mostrando as métricas para um ticker em especial
#estats(balanco2[balanco2['Ativo']=='ABEV3'])

In [47]:
#Mostrando as métricas para todos os tickers
#todos= list(map(lambda x: estats(balanco2[balanco2['Ativo']==x]), list(balanco2['Ativo'].unique())))
#estatsall=pd.concat(todos, axis=0, keys=list(balanco2['Ativo'].unique()))
#estatsall

In [48]:
#Análise visual de missing
#df=balanco2.copy()
#df = df.sort_values(by=['Data'])
#fontsize = 12    
#fig, ax = plt.subplots(1, 1, figsize=[15, 5.5]) #mude aqui o tamanho da matriz
#msno.matrix(df=df.iloc[:,3:], ax=ax, color=(0.2, 0.2, 0.2), sparkline=False, fontsize=fontsize)

In [49]:
#balanco3=balanco2[~balanco2.atvtot.isnull()]

In [50]:
#Análise visual de missing
#df=balanco3.copy()
#df = df.sort_values(by=['Data'])
#fontsize = 12    
#fig, ax = plt.subplots(1, 1, figsize=[15, 5.5]) #mude aqui o tamanho da matriz
#msno.matrix(df=df.iloc[:,3:], ax=ax, color=(0.2, 0.2, 0.2), sparkline=False, fontsize=fontsize)

In [51]:
#balanco2.to_excel("balanco2.xlsx")

In [52]:
balanco2[balanco2["ativo"]=="ABEV3"].head()

,ativo,data,IBRX,atvtot,atvcir,estq,atvncirc,imob,paspl,pascir,...,despope12m,despven12m,despadm12m,ebit12m,resfin12m,recfin12m,despfin12m,lair12m,ircs12m,lucrliq12m
0,ABEV3,2001-12-28,1,11028812.0,4684944.0,806679.0,6343868.0,3277535.0,11028812.0,3412003.0,...,1817477.0,1175581.0,641896.0,1496440.0,-503115.0,358376.0,861491.0,993325.0,51974.0,784568.0
1,ABEV3,2002-01-31,1,11028812.0,4684944.0,806679.0,6343868.0,3277535.0,11028812.0,3412003.0,...,1817477.0,1175581.0,641896.0,1496440.0,-503115.0,358376.0,861491.0,993325.0,51974.0,784568.0
2,ABEV3,2002-02-28,1,11028812.0,4684944.0,806679.0,6343868.0,3277535.0,11028812.0,3412003.0,...,1817477.0,1175581.0,641896.0,1496440.0,-503115.0,358376.0,861491.0,993325.0,51974.0,784568.0
3,ABEV3,2002-03-28,1,10356653.0,4201989.0,797361.0,6154664.0,2950868.0,10356653.0,2847167.0,...,1906927.0,1239942.0,666985.0,1486882.0,-554217.0,306310.0,860527.0,932665.0,58909.0,762052.0
4,ABEV3,2002-04-30,1,10356653.0,4201989.0,797361.0,6154664.0,2950868.0,10356653.0,2847167.0,...,1906927.0,1239942.0,666985.0,1486882.0,-554217.0,306310.0,860527.0,932665.0,58909.0,762052.0

In [62]:
balanco31=balanco2[['ativo','data',"IBRX",]]
"cxgerop12m", \
 "cxinv12m","cxfinan12m","valicx12m"
balanco31.head()

      ativo       data  IBRX
0     ABEV3 2001-12-28     1
496   ABYA3 2001-12-28     0
744   ACES3 2001-12-28     1
992   ACES4 2001-12-28     1
1240  ACGU3 2001-12-28     0

In [59]:
balanco32=balanco2[['ativo','data',\
                   "atvtot","atvcir","estq","atvncirc",\
                 "imob","paspl","pascir",\
                 "fornec","fincp","finlp","dbntlp","provlp","patrliq",\
                 "rect12m","cpv12m","lucrbr12m","despope12m",\
                 "despven12m","despadm12m","ebit12m",\
                 "resfin12m","recfin12m","despfin12m",\
                 "lair12m","ircs12m","lucrliq12m", ]]
#"cxgerop12m", \
# "cxinv12m","cxfinan12m","valicx12m"
balanco32.head()

,ativo,data,atvtot,atvcir,estq,atvncirc,imob,paspl,pascir,fornec,...,despope12m,despven12m,despadm12m,ebit12m,resfin12m,recfin12m,despfin12m,lair12m,ircs12m,lucrliq12m
0,ABEV3,2001-12-28,11028812.0,4684944.0,806679.0,6343868.0,3277535.0,11028812.0,3412003.0,571169.0,...,1817477.0,1175581.0,641896.0,1496440.0,-503115.0,358376.0,861491.0,993325.0,51974.0,784568.0
496,ABYA3,2001-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
744,ACES3,2001-12-28,5852905.0,1041963.0,384294.0,4810942.0,4069623.0,5852905.0,1699502.0,320811.0,...,203778.0,97637.0,106141.0,-74787.0,-266994.0,96166.0,363160.0,-341781.0,-39198.0,-326299.0
992,ACES4,2001-12-28,5852905.0,1041963.0,384294.0,4810942.0,4069623.0,5852905.0,1699502.0,320811.0,...,203778.0,97637.0,106141.0,-74787.0,-266994.0,96166.0,363160.0,-341781.0,-39198.0,-326299.0
1240,ACGU3,2001-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
balanco4=balanco32 ## Rodar apenas uma vez
balanco4 = balanco4.set_index('data', append=False) # Data como índice para possibilitar shift
balanco4 = balanco4.set_index('ativo', append=True)
#balanco4 = balanco4.groupby(level=1).ffill()
balanco4 = balanco4.groupby(level=1).shift(3) # Shift para defasagem de 3 meses para dados balanço
balanco4 = balanco4.reset_index(level=0) # Reset índice - 2 vezes level 0 para manter ordem das colunas
balanco4 = balanco4.reset_index(level=0)
balanco4.head()

,ativo,data,atvtot,atvcir,estq,atvncirc,imob,paspl,pascir,fornec,...,despope12m,despven12m,despadm12m,ebit12m,resfin12m,recfin12m,despfin12m,lair12m,ircs12m,lucrliq12m
0,ABEV3,2001-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABYA3,2001-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ACES3,2001-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ACES4,2001-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ACGU3,2001-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
balanco4=balanco31.merge(balanco4, on=["data", "ativo"])
balanco4

,ativo,data,IBRX,atvtot,atvcir,estq,atvncirc,imob,paspl,pascir,...,despope12m,despven12m,despadm12m,ebit12m,resfin12m,recfin12m,despfin12m,lair12m,ircs12m,lucrliq12m
0,ABEV3,2001-12-28,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABYA3,2001-12-28,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ACES3,2001-12-28,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ACES4,2001-12-28,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ACGU3,2001-12-28,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77123,VVAX11,2022-07-29,0,526477.0,132215.0,3567.0,394262.0,173370.0,526477.0,60405.0,...,154194.0,34136.0,120058.0,-41649.0,-78138.0,13668.0,91806.0,-119787.0,13359.0,-133146.0
77124,WEGE3,2022-07-29,1,24169250.0,16424181.0,7018367.0,7745069.0,5239800.0,24169250.0,9300954.0,...,658287.0,1891939.0,800826.0,4363749.0,215422.0,1252973.0,1037551.0,4579171.0,747130.0,3765589.0
77125,WEGE4,2022-07-29,0,24169250.0,16424181.0,7018367.0,7745069.0,5239800.0,24169250.0,9300954.0,...,658287.0,1891939.0,800826.0,4363749.0,215422.0,1252973.0,1037551.0,4579171.0,747130.0,3765589.0
77126,WIZS3,2022-07-29,1,1905282.0,273652.0,0.0,1631630.0,14261.0,1905282.0,323939.0,...,NaN,0.0,140293.0,325424.0,-40261.0,15070.0,55331.0,285163.0,91270.0,161896.0
77127,YDUQ3,2022-07-29,1,10055453.0,2872443.0,0.0,7183010.0,2655017.0,10055453.0,1560153.0,...,284261.0,913999.0,993167.0,607432.0,-474774.0,369795.0,844569.0,132658.0,-58327.0,190985.0

In [42]:
#balanco4[balanco4["Ativo"]=="ABEV3"].head(20)

In [43]:
#Análise visual de missing
#df=balanco4.copy()
#df = df.sort_values(by=['Data'])
#fontsize = 12    
#fig, ax = plt.subplots(1, 1, figsize=[15, 5.5]) #mude aqui o tamanho da matriz
#msno.matrix(df=df.iloc[:,3:], ax=ax, color=(0.2, 0.2, 0.2), sparkline=False, fontsize=fontsize)

In [64]:
#Salvando em excel
balanco4.to_excel('bal.xlsx')