In [2]:
%run ./0_mibrx.ipynb
%run ./1_cotacao.ipynb
%run ./2_balanco.ipynb
%run ./3_financeiro.ipynb
%run ./4_mercado.ipynb
%run ./5_tecnico.ipynb
%run ./6_precodiario.ipynb

True
True
Wall time: 11.6 s
Wall time: 5min 42s
(1403184, 10) (1403184, 18) (1403184, 43) (1403184, 14) (1403184, 6) (1403184, 6) (1403184, 6) (1403184, 3) (1403184, 3) (1403184, 3) (1403184, 3) (1403184, 9)

In [3]:
#Importando pacotes
import pandas as pd
import numpy as np
from urllib.request import urlopen
import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from scipy.stats import mstats
warnings.filterwarnings("ignore")
from  pandas import ExcelWriter

In [4]:
#MATRIZ IBRX
cot=pd.read_excel('cot.xlsx', sheet_name='Sheet1', index_col='data')
cot=cot.drop(columns=["Unnamed: 0"])
cot=cot.reset_index()
cot=cot.sort_values(['ativo', "data"], ascending=[True, True])
bal=pd.read_excel('bal.xlsx', sheet_name='Sheet1', index_col='data')
bal=bal.drop(columns=["Unnamed: 0"])
bal=bal.reset_index()
bal=bal.sort_values(['ativo', "data"], ascending=[True, True])
mer=pd.read_excel('mer.xlsx', sheet_name='Sheet1', index_col='data')
mer=mer.drop(columns=["Unnamed: 0"])
mer=mer.reset_index()
mer=mer.sort_values(['ativo', "data"], ascending=[True, True])
fin=pd.read_excel('fin.xlsx', sheet_name='Sheet1', index_col='data')
fin=fin.drop(columns=["Unnamed: 0"])
fin=fin.reset_index()
fin=fin.sort_values(['ativo', "data"], ascending=[True, True])
tec=pd.read_excel('tec.xlsx', sheet_name='Sheet1', index_col='data')
tec=tec.drop(columns=["Unnamed: 0"])
tec=tec.reset_index()
tec=tec.sort_values(['ativo', "data"], ascending=[True, True])

In [5]:
#Declarando coluna data como datatime
cot['data'] = pd.to_datetime(cot['data'])
bal['data'] = pd.to_datetime(bal['data'])
mer['data'] = pd.to_datetime(mer['data'])
fin['data'] = pd.to_datetime(fin['data'])
tec['data'] = pd.to_datetime(tec['data'])

In [6]:
#conc=pd.concat([cot,bal.iloc[:,2:],mer.iloc[:,2:],fin.iloc[:,2:],tec.iloc[:,2:]], axis=1)

In [7]:
ctc=cot.merge(bal, on=["data", "ativo", "IBRX"]).merge(mer, on=["data", "ativo", "IBRX"]).merge(fin, on=["data", "ativo", "IBRX"]).merge(tec, on=["data", "ativo", "IBRX"])
ctc = ctc.sort_values(by = ['data', "ativo"]).reset_index(drop=True)
ctc

,data,ativo,IBRX,fech,abt,min,max,pmed,qnegs,qtits,...,corr6m,corr1a,corr2a,corr3a,sharp1m,sharp3m,sharp6m,sharp1a,sharp2a,sharp3a
0,2001-12-28,ABEV3,1,0.715486,0.721337,0.715486,0.722190,0.721755,9.0,141.00,...,0.462475,0.427888,0.322039,0.335647,0.388258,6.333400,-0.012430,0.312306,2.296882,2.933324
1,2001-12-28,ABYA3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001-12-28,ACES3,1,4.866949,4.946735,4.866949,4.946735,4.866949,15.0,6.73,...,0.565873,0.586230,0.534660,0.447590,-1.172523,4.248590,-0.374981,-0.667736,-0.393948,0.116511
3,2001-12-28,ACES4,1,5.349749,5.582347,5.349749,5.737412,5.582347,256.0,411.39,...,0.727999,0.698938,0.630393,0.517640,0.456466,9.747892,0.202618,-0.489769,-0.386255,0.142097
4,2001-12-28,ACGU3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77123,2022-07-29,VVAX11,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77124,2022-07-29,WEGE3,1,28.040000,27.910000,27.880000,28.640000,28.180000,22438.0,10089.70,...,0.492067,0.480094,0.502124,0.568034,4.173224,-0.709592,-0.594275,-0.651465,-0.177939,0.954275
77125,2022-07-29,WEGE4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77126,2022-07-29,WIZS3,1,7.420000,7.540000,7.350000,7.600000,7.430000,3218.0,695.20,...,0.462423,0.534822,0.371629,0.496754,-1.528175,-0.100867,-0.026506,-0.806562,0.007867,0.060599
77127,2022-07-29,YDUQ3,1,13.250000,13.600000,13.110000,13.630000,13.250000,6725.0,1684.40,...,0.443957,0.531919,0.537514,0.588984,-0.050371,-0.850410,-0.977700,-0.928557,-0.635921,-0.283885

In [8]:
z=len(ctc['ativo'].unique())
z

311

In [9]:
# #Análise visual de missing
# df=ctc1.copy()
# df = df.sort_values(by=['data'])
# fontsize = 20
# fig, ax = plt.subplots(1, 1, figsize=[6, 6]) #mude aqui o tamanho da matriz
# msno.matrix(df=df.iloc[:,3:], ax=ax, color=(0.2, 0.2, 0.2), sparkline=False, fontsize=fontsize)

In [11]:
datesx = pd.DataFrame(pd.date_range(ctc.data.min(), ctc.data.max(), freq='BM'))
datesx["data"]=datesx[0]
datesx = datesx.drop(columns = 0)
datesy=pd.DataFrame(np.repeat(datesx.values, z, axis=0))
datesy["data"]=datesy[0]
datesy = datesy.drop(columns = 0)
datesy["data"]=pd.to_datetime(datesy["data"])
datesy

            data
0     2001-12-31
1     2001-12-31
2     2001-12-31
3     2001-12-31
4     2001-12-31
...          ...
77123 2022-07-29
77124 2022-07-29
77125 2022-07-29
77126 2022-07-29
77127 2022-07-29

[77128 rows x 1 columns]

In [12]:
ctc

,data,ativo,IBRX,fech,abt,min,max,pmed,qnegs,qtits,...,corr6m,corr1a,corr2a,corr3a,sharp1m,sharp3m,sharp6m,sharp1a,sharp2a,sharp3a
0,2001-12-28,ABEV3,1,0.715486,0.721337,0.715486,0.722190,0.721755,9.0,141.00,...,0.462475,0.427888,0.322039,0.335647,0.388258,6.333400,-0.012430,0.312306,2.296882,2.933324
1,2001-12-28,ABYA3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001-12-28,ACES3,1,4.866949,4.946735,4.866949,4.946735,4.866949,15.0,6.73,...,0.565873,0.586230,0.534660,0.447590,-1.172523,4.248590,-0.374981,-0.667736,-0.393948,0.116511
3,2001-12-28,ACES4,1,5.349749,5.582347,5.349749,5.737412,5.582347,256.0,411.39,...,0.727999,0.698938,0.630393,0.517640,0.456466,9.747892,0.202618,-0.489769,-0.386255,0.142097
4,2001-12-28,ACGU3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77123,2022-07-29,VVAX11,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77124,2022-07-29,WEGE3,1,28.040000,27.910000,27.880000,28.640000,28.180000,22438.0,10089.70,...,0.492067,0.480094,0.502124,0.568034,4.173224,-0.709592,-0.594275,-0.651465,-0.177939,0.954275
77125,2022-07-29,WEGE4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77126,2022-07-29,WIZS3,1,7.420000,7.540000,7.350000,7.600000,7.430000,3218.0,695.20,...,0.462423,0.534822,0.371629,0.496754,-1.528175,-0.100867,-0.026506,-0.806562,0.007867,0.060599
77127,2022-07-29,YDUQ3,1,13.250000,13.600000,13.110000,13.630000,13.250000,6725.0,1684.40,...,0.443957,0.531919,0.537514,0.588984,-0.050371,-0.850410,-0.977700,-0.928557,-0.635921,-0.283885

In [13]:
ctc["data"]=datesy["data"]
ctc

,data,ativo,IBRX,fech,abt,min,max,pmed,qnegs,qtits,...,corr6m,corr1a,corr2a,corr3a,sharp1m,sharp3m,sharp6m,sharp1a,sharp2a,sharp3a
0,2001-12-31,ABEV3,1,0.715486,0.721337,0.715486,0.722190,0.721755,9.0,141.00,...,0.462475,0.427888,0.322039,0.335647,0.388258,6.333400,-0.012430,0.312306,2.296882,2.933324
1,2001-12-31,ABYA3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001-12-31,ACES3,1,4.866949,4.946735,4.866949,4.946735,4.866949,15.0,6.73,...,0.565873,0.586230,0.534660,0.447590,-1.172523,4.248590,-0.374981,-0.667736,-0.393948,0.116511
3,2001-12-31,ACES4,1,5.349749,5.582347,5.349749,5.737412,5.582347,256.0,411.39,...,0.727999,0.698938,0.630393,0.517640,0.456466,9.747892,0.202618,-0.489769,-0.386255,0.142097
4,2001-12-31,ACGU3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77123,2022-07-29,VVAX11,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77124,2022-07-29,WEGE3,1,28.040000,27.910000,27.880000,28.640000,28.180000,22438.0,10089.70,...,0.492067,0.480094,0.502124,0.568034,4.173224,-0.709592,-0.594275,-0.651465,-0.177939,0.954275
77125,2022-07-29,WEGE4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77126,2022-07-29,WIZS3,1,7.420000,7.540000,7.350000,7.600000,7.430000,3218.0,695.20,...,0.462423,0.534822,0.371629,0.496754,-1.528175,-0.100867,-0.026506,-0.806562,0.007867,0.060599
77127,2022-07-29,YDUQ3,1,13.250000,13.600000,13.110000,13.630000,13.250000,6725.0,1684.40,...,0.443957,0.531919,0.537514,0.588984,-0.050371,-0.850410,-0.977700,-0.928557,-0.635921,-0.283885

In [14]:
ctc1=ctc[ctc['IBRX']==1]
ctc1

,data,ativo,IBRX,fech,abt,min,max,pmed,qnegs,qtits,...,corr6m,corr1a,corr2a,corr3a,sharp1m,sharp3m,sharp6m,sharp1a,sharp2a,sharp3a
0,2001-12-31,ABEV3,1,0.715486,0.721337,0.715486,0.722190,0.721755,9.0,141.00,...,0.462475,0.427888,0.322039,0.335647,0.388258,6.333400,-0.012430,0.312306,2.296882,2.933324
2,2001-12-31,ACES3,1,4.866949,4.946735,4.866949,4.946735,4.866949,15.0,6.73,...,0.565873,0.586230,0.534660,0.447590,-1.172523,4.248590,-0.374981,-0.667736,-0.393948,0.116511
3,2001-12-31,ACES4,1,5.349749,5.582347,5.349749,5.737412,5.582347,256.0,411.39,...,0.727999,0.698938,0.630393,0.517640,0.456466,9.747892,0.202618,-0.489769,-0.386255,0.142097
18,2001-12-31,AMBV4,1,1.060443,1.091633,1.060443,1.111705,1.089539,164.0,3925.00,...,0.650135,0.523649,0.418675,0.466675,-1.458142,1.083743,-0.513788,-0.118599,0.854977,1.259331
23,2001-12-31,ARCE4,1,2.564976,2.535771,2.483132,2.605723,2.517409,25.0,80.50,...,0.332231,0.398429,0.312541,0.343360,5.381586,11.641948,1.084420,1.076126,0.958145,2.357548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77115,2022-07-29,VIIA3,1,2.400000,2.530000,2.400000,2.550000,2.460000,17917.0,65302.80,...,0.470850,0.530661,0.533855,0.651983,5.941087,-0.665460,-1.064241,-1.197029,-1.105496,-0.246697
77119,2022-07-29,VIVT3,1,44.405132,44.683909,44.405132,44.853166,44.574390,12109.0,2754.50,...,0.157671,0.261501,0.335960,0.471971,-1.258495,-2.407149,-0.926326,0.430267,-0.107639,0.216647
77124,2022-07-29,WEGE3,1,28.040000,27.910000,27.880000,28.640000,28.180000,22438.0,10089.70,...,0.492067,0.480094,0.502124,0.568034,4.173224,-0.709592,-0.594275,-0.651465,-0.177939,0.954275
77126,2022-07-29,WIZS3,1,7.420000,7.540000,7.350000,7.600000,7.430000,3218.0,695.20,...,0.462423,0.534822,0.371629,0.496754,-1.528175,-0.100867,-0.026506,-0.806562,0.007867,0.060599
77127,2022-07-29,YDUQ3,1,13.250000,13.600000,13.110000,13.630000,13.250000,6725.0,1684.40,...,0.443957,0.531919,0.537514,0.588984,-0.050371,-0.850410,-0.977700,-0.928557,-0.635921,-0.283885

In [15]:
#REARRANJO PARA O MODELO DE FACTORING
balanco4 = ctc1
balanco4col = list(range(len(balanco4.iloc[:,3:].columns)))
pv = []
for i in balanco4.iloc[:,3:].columns:
    balanco4col = balanco4[['data','ativo',i]]
    balanco4col = balanco4col.pivot_table(values = i, index = 'data', columns = 'ativo', dropna=False)
    pv.append(balanco4col)

listnames = list(balanco4.iloc[:,3:].columns)
dictionary = dict(zip(listnames, pv))
dictionary.keys()

dict_keys(['fech', 'abt', 'min', 'max', 'pmed', 'qnegs', 'qtits', 'volume', 'atvtot', 'atvcir', 'estq', 'atvncirc', 'imob', 'paspl', 'pascir', 'fornec', 'fincp', 'finlp', 'dbntlp', 'provlp', 'patrliq', 'rect12m', 'cpv12m', 'lucrbr12m', 'despope12m', 'despven12m', 'despadm12m', 'ebit12m', 'resfin12m', 'recfin12m', 'despfin12m', 'lair12m', 'ircs12m', 'lucrliq12m', 'marketcap', 'ev', 'pl12m', 'pvp', 'prec12m', 'pebitda12m', 'lp12m', 'estrutcapvm', 'evebitdaemp12m', 'evebitemp12m', 'evvd12m', 'lpa12m', 'vdacao12m', 'ebitdaacao12m', 'divttlq', 'divttbr', 'divbrativo', 'divbrpatr', 'dlpl', 'estcap', 'ebitdivbr12m', 'ebitdivlq12m', 'ebitdespfbr12m', 'ebitdespflq12m', 'divbrebitda12m', 'divlqebitda12m', 'divcpdivtt', 'exgttat', 'exgttpl', 'exgttrec12m', 'afxpl', 'invpl', 'liqger', 'liqcor', 'liqsec', 'capgir', 'capemp', 'pmestq12m', 'pmforn12m', 'pmrecb12m', 'cicfin12m', 'cicope12m', 'ebitda12m', 'lairdfl12m', 'giroat12m', 'giropl12m', 'mgbr12m', 'mgebit12m', 'mglq12m', 'mgebitda12m', 'roa12m', 'roefim12m', 'roemed12m', 'roein12m', 'roicfim12m', 'roicmed12m', 'roicin12m', 'capinv', 'alavanfin12m', 'alavanope12m', 'capex12m', 'depramor12m', 'capexdepr12m', 'deprimob12m', 'ret1m', 'ret3m', 'ret6m', 'ret12m', 'divdacao1a', 'dyieldfim1a', 'dyieldinic1a', 'dyieldult12m', 'negocliq1m', 'negocliq3m', 'negocliq6m', 'negocliq12m', 'vmedio1m', 'vmedio3m', 'vmedio6m', 'vmedio12m', 'vol1m', 'vol3m', 'vol6m', 'vol12m', 'beta6m', 'beta1a', 'beta2a', 'beta3a', 'beta5a', 'corr1m', 'corr3m', 'corr6m', 'corr1a', 'corr2a', 'corr3a', 'sharp1m', 'sharp3m', 'sharp6m', 'sharp1a', 'sharp2a', 'sharp3a'])

In [16]:
writer=pd.ExcelWriter("output.xlsx") 
for key in dictionary:
    dictionary[key].to_excel(writer,sheet_name=key)

writer.save()
writer.close()

In [17]:
valmerc = pd.DataFrame(dictionary['marketcap'])

negoc = pd.DataFrame(dictionary['negocliq6m'])

cols = valmerc.columns.values
bmatrix = pd.DataFrame(index=negoc.index, columns=cols, data=1)

arr = valmerc.to_numpy()
is_equal = ((arr == arr[None].T).any(axis=1))
is_equal[np.tril_indices_from(is_equal)] = False
inds_of_same_cols = [*zip(*np.where(is_equal))]

h = [inds for inds in inds_of_same_cols]
h2 = valmerc.columns[(h)].tolist()

#negoc = dictionary['negc6m']

prematrix = []
for i in h:
    op = pd.DataFrame(negoc.iloc[:,i[0]])
    ap = pd.DataFrame(negoc.iloc[:,i[1]])
    ep = pd.concat([op, ap], axis=1)
    prematrix.append(ep)

#prematrix[0]
    
for v in range(len(prematrix)):
    prematrix[v].insert(0,'new',range(len(prematrix[v])))


for i in range(len(prematrix)):
    for j,a,b in prematrix[i].values:
        #print(j,a,b)
        if a < b:
            bmatrix[prematrix[i].drop(columns = 'new').columns[0]].iloc[int(j)] = 0
            bmatrix[prematrix[i].drop(columns = 'new').columns[1]].iloc[int(j)] = 1
        elif a > b:
            bmatrix[prematrix[i].drop(columns = 'new').columns[0]].iloc[int(j)] = 1
            bmatrix[prematrix[i].drop(columns = 'new').columns[1]].iloc[int(j)] = 0
        elif pd.isna(a):
            bmatrix[prematrix[i].drop(columns = 'new').columns[0]].iloc[int(j)] = 0
        elif pd.isna(b):
            bmatrix[prematrix[i].drop(columns = 'new').columns[1]].iloc[int(j)] = 0
            
            
bmatrix.tail(20)

,ABEV3,ABYA3,ACES3,ACES4,ACGU3,AEDU3,AELP3,AESB3,AGEI3,AGIN3,...,VIVR3,VIVT3,VIVT4,VLID3,VVAR11,VVAX11,WEGE3,WEGE4,WIZS3,YDUQ3
data,,,,,,,,,,,,,,,,,,,,,
2020-12-31,1,1,0,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1
2021-01-29,1,1,0,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1
2021-02-26,1,1,0,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1
2021-03-31,1,1,0,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1
2021-04-30,1,1,0,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31,1,1,0,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1
2022-04-29,1,1,0,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1
2022-05-31,1,1,0,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1
2022-06-30,1,1,0,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1
2022-07-29,1,1,0,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1

In [18]:
bmatrix.to_excel('liq.xlsx')

In [22]:
#Compatibilizando datas 
ibrx=pd.read_excel('ibrx.xlsx',sheet_name='Sheet1', index_col='Data')
ibrx1 = ibrx.drop(columns = 'TCSL4')
ibrx1 = ibrx1.reindex(sorted(ibrx1.columns), axis=1)

In [23]:
datest = pd.DataFrame(pd.date_range(ctc.data.min(), ctc.data.max(), freq='BM'))
datest["data"]=datest[0]
datest = datest.drop(columns = 0)
datest

          data
0   2001-12-31
1   2002-01-31
2   2002-02-28
3   2002-03-29
4   2002-04-30
..         ...
243 2022-03-31
244 2022-04-29
245 2022-05-31
246 2022-06-30
247 2022-07-29

[248 rows x 1 columns]

In [24]:
ibrx1.index=datest["data"]
ibrx1.head(13)

,ABEV3,ABYA3,ACES3,ACES4,ACGU3,AEDU3,AELP3,AESB3,AGEI3,AGIN3,...,VIVR3,VIVT3,VIVT4,VLID3,VVAR11,VVAX11,WEGE3,WEGE4,WIZS3,YDUQ3
data,,,,,,,,,,,,,,,,,,,,,
2001-12-31,1,0,1,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
2002-01-31,1,0,1,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
2002-02-28,1,0,1,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
2002-03-29,1,0,1,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
2002-04-30,1,0,1,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002-08-30,1,0,1,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
2002-09-30,1,0,1,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
2002-10-31,1,0,1,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
2002-11-29,1,0,1,1,0,0,1,0,0,0,...,0,1,1,0,0,0,0,0,0,0
2002-12-31,1,0,1,1,0,0,1,0,0,0,...,0,1,1,0,0,0,0,0,0,0

In [25]:
ibrx1.to_excel('ibrx1.xlsx')